<%= form_for('contact_info/edit', :html => {:method => 'PUT'}) do |f| %>
    <% if @contact_info.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@contact_info.errors.count, "error") %> prohibited this contact_info from being saved:</h2>

          <ul>
            <% @contact_info.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_field :link_to_map,
                             class: 'form-control',
                             placeholder: 'Link Google Maps',
                             required: '',
                             :'aria-required'=>'true',
                             :'aria-invalid'=>'true',
                            :autocomplete => :off,
                             value: @contact_info.link_to_map
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">

          <label>Imágen de Mapa</label>

          <% unless @contact_info.picture.nil?  %>
              <%= image_tag @contact_info.picture.photo_url, style: '',  class: 'img-thumbnail center-block picture_vertical_form' %>
          <% else %>
              <img class="img-thumbnail picture_vertical_form center-block hidden">
          <% end %>
          <div class="form-line input-group">

            <%= f.file_field :picture, class:'file img_form', style:'display:none' %>

            <span class="input-group-btn">
                    <button class="browse btn btn-primary" type="button">
                      <i class="material-icons">insert_photo</i>
                    </button>
                </span>
            <input type="text" class="form-control" disabled placeholder="Seleccione un imágen" value="<%= (@contact_info.picture.nil? ? '' : @contact_info.picture.photo_identifier ) %>">
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_field :telephones,
                             class: 'form-control',
                             placeholder: 'Teléfonos',
                             required: '',
                             :'aria-required'=>'true',
                             :'aria-invalid'=>'true',
                             maxlength:'100',
                             minlength:'5',
                             :'data-role'=>'tagsinput',
                             autocomplete: false,
                             value: @contact_info.telephones
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_field :emails,
                             class: 'form-control',
                             placeholder: 'Emails',
                             required: '',
                             :'aria-required'=>'true',
                             :'aria-invalid'=>'true',
                             maxlength:'100',
                             minlength:'5',
                             :'data-role'=>'tagsinput',
                             autocomplete: false,
                             value: @contact_info.emails
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_field :facebook_link,
                             class: 'form-control',
                             placeholder: 'Link de Facebook',
                             required: '',
                             :'aria-required'=>'true',
                             :'aria-invalid'=>'true',
                             maxlength:'100',
                             minlength:'5',
                             autocomplete: false,
                             value: @contact_info.facebook_link
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_field :mercadolibre_link,
                             class: 'form-control',
                             placeholder: 'Link de MercadoLibre',
                             required: '',
                             :'aria-required'=>'true',
                             :'aria-invalid'=>'true',
                             maxlength:'100',
                             minlength:'5',
                             autocomplete: false,
                             value: @contact_info.mercadolibre_link
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-">
        <button type="submit" class="btn btn-primary m-t-15 waves-effect btn-block teal">Guardar</button>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= link_to 'Atrás', contact_info_path, class: 'btn btn-default m-t-15 waves-effect btn-block' %>
      </div>
    </div>
<% end %>
