<%= form_for('contact_info/edit', :html => {:method => 'PUT'}) do |f| %>
    <% if @contact_info.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@contact_info.errors.count, "error") %> prohibited this contact_info from being saved:</h2>

          <ul>
            <% @contact_info.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_area :iframe_map,
                             class: 'form-control',
                             placeholder: 'Iframe Google Maps',
                             required: '',
                             :'aria-required'=>'true',
                             :'aria-invalid'=>'true',
                            :autocomplete => :off,
                             value: @contact_info.iframe_map
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_field :address_text,
                             class: 'form-control',
                             placeholder: 'Dirección',
                             required: '',
                             :'aria-required'=>'true',
                             :'aria-invalid'=>'true',
                             maxlength:'100',
                             minlength:'5',
                             autocomplete: false,
                             value: @contact_info.address_text
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_field :telephones,
                             class: 'form-control',
                             placeholder: 'Teléfonos',
                             required: '',
                             :'aria-required'=>'true',
                             :'aria-invalid'=>'true',
                             maxlength:'100',
                             minlength:'5',
                             :'data-role'=>'tagsinput',
                             autocomplete: false,
                             value: @contact_info.telephones
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_field :emails,
                             class: 'form-control',
                             placeholder: 'Emails',
                             required: '',
                             :'aria-required'=>'true',
                             :'aria-invalid'=>'true',
                             maxlength:'100',
                             minlength:'5',
                             :'data-role'=>'tagsinput',
                             autocomplete: false,
                             value: @contact_info.emails
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_field :facebook_link,
                             class: 'form-control',
                             placeholder: 'Link de Facebook',
                             required: '',
                             :'aria-required'=>'true',
                             :'aria-invalid'=>'true',
                             maxlength:'100',
                             minlength:'5',
                             autocomplete: false,
                             value: @contact_info.facebook_link
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_field :mercadolibre_link,
                             class: 'form-control',
                             placeholder: 'Link de MercadoLibre',
                             required: '',
                             :'aria-required'=>'true',
                             :'aria-invalid'=>'true',
                             maxlength:'100',
                             minlength:'5',
                             autocomplete: false,
                             value: @contact_info.mercadolibre_link
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <button type="submit" class="btn btn-primary m-t-15 waves-effect btn-block teal">Guardar</button>
      </div>
      <div class="col-xs-6 col-sm-4">
        <%= link_to 'Atrás', contact_info_path, class: 'btn btn-default m-t-15 waves-effect btn-block' %>
      </div>
    </div>
<% end %>
