<p id="notice"><%= notice %></p>

<p>
  <strong>Lat map:</strong>
  <%= @contact_info.lat_map %>
</p>

<p>
  <strong>Lon map:</strong>
  <%= @contact_info.lon_map %>
</p>

<p>
  <strong>Telepones:</strong>
  <%= @contact_info.telepones %>
</p>

<p>
  <strong>Emails:</strong>
  <%= @contact_info.emails %>
</p>

<p>
  <strong>Facebook link:</strong>
  <%= @contact_info.facebook_link %>
</p>

<p>
  <strong>Mercadolibre link:</strong>
  <%= @contact_info.mercadolibre_link %>
</p>

<p>
  <strong>Address text:</strong>
  <%= @contact_info.address_text %>
</p>

<%= link_to 'Edit', edit_contact_info_path(@contact_info) %> |
<%= link_to 'Back', contact_infos_path %>
