<div class="block-header">
  <ol class="breadcrumb breadcrumb-col-teal">
    <li>
      <a href="/">
        <i class="material-icons">home</i>
      </a>
    </li>
    <li>
      <%= link_to 'Tipo de Productos', product_types_path %>
    </li>
    <li>
      <%= link_to @product.product_type.name, @product.product_type %>
    </li>
    <li>
      <%= link_to @product.name, edit_product_type_product_path(@product.product_type, @product)%>
    </li>
    <li class="active">Editar</li>
  </ol>
  <h1>
    <%= @product.name %> - Imágenes
  </h1>
</div>
<!-- Input -->
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Imágenes</h2>
      </div>
      <div class="body">

        <div class="row" id="pictures">
          <% @product_pictures.each do |p| %>
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="card product_picture" id="product_picture_<%= p.id %>">
                  <%= link_to product_type_product_product_picture_path(p.product.product_type, p.product, p), :method => :delete, data: { confirm: 'Are you sure?' }, :remote => true do %>
                    <div class="image" style="background-image: url('<%= p.picture.photo %>');"></div>
                      <div class="cover-delete">
                        <i class="material-icons">delete</i>
                      </div>
                  <% end %>
                </div>
              </div>
          <% end %>
        </div>

      </div>
      <div class="footer">

        <button type="button" class="btn waves-effect m-r-20 btn-block bg-teal btn-lg" data-toggle="modal" data-target="#modal_form_upload">
          Cargar Imagen
        </button>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_form_upload" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="defaultModalLabel">Cargar Imágenes</h4>
      </div>
      <%= render 'form' %>

      <div class="progress" style="display: none;">
        <div class="progress-bar bg-teal progress-bar-striped active" role="progressbar"  style="width: 100%;">
          Subiendo imagen
        </div>
      </div>

    </div>
  </div>
</div>

