
<!DOCTYPE html>
<html>
<head>
  <title>BambuSolarAdmin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="login-page">
<div class="login-box">
  <div class="logo">
    <a>Administración de Bambú Solar</a>
  </div>
  <div class="card">
    <div class="body">
      <%= form_for(:session, url: login_path) do |f| %>
        <div class="msg">Sign in to start your session</div>
        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
          <div class="form-line">
            <%= f.text_field :user_name, :placeholder => 'Usuario', class:'form-control', require:true%>
          </div>
        </div>
        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
          <div class="form-line">
            <%= f.password_field :password, :placeholder => 'Password', class:'form-control', require:true %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-block bg-pink waves-effect" type="submit">Iniciar Sesión</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
