<%= form_for(@ribbon) do |f| %>
  <% if @ribbon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ribbon.errors.count, "error") %> prohibited this ribbon from being saved:</h2>

      <ul>
      <% @ribbon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :image_id_id %><br>
    <%= f.text_field :image_id_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
