
<div class="row">
  <div class="col-sm-12">
    <div class="contact_contant sections">
      <div class="head_title text-center">

        <h2>Contactanos</h2>

        <div class="subtitle">

        </div>

      </div><!-- End off Head_title -->

      <div class="row contact_info_content">

        <div class="col-xs-12 col-md-6">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-12">
              <div class="main_contact_info">
                <div class="row">
                  <div class="">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="single_contact_info">
                        <div class="single_info_text">
                          <h3>Teléfonos</h3>
                          <div class="row">

                            <% @contact_info.telephones.split(',').to_a.each do |t| %>

                                <div class="col-sm-12">
                                  <div class="col-xs-12 visible-xs-block">
                                    <a class="text_telephone" href="whatsapp://send?phone=<%= t.to_s.gsub(' ','').gsub('-','').gsub('(','').gsub(')','') %>&text=Hola,%20tengo%20una%20consulta">
                                      <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                      <%= t %>
                                    </a>
                                  </div>
                                  <div class="col-sm-12 hidden-xs">
                                    <h4 class="text-lowercase">
                                      <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                      <%= t %>
                                    </h4>
                                  </div>
                                </div>

                            <% end %>


                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="single_contact_info">
                        <div class="single_info_text">
                          <h3>Correo electrónico</h3>
                          <div class="row">

                            <% @contact_info.emails.split(',').to_a.each do |e| %>

                                <div class="col-xs-12 col-sm-12">
                                  <a href="mailto:<%= e %>" class="text-lowercase text_email col-sm-12 ">
                                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                      <%= e %>
                                    </a>
                                </div>

                            <% end %>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <div class="single_contact_info">
                        <div class="single_info_text">
                          <h3>Facebook</h3>
                          <div class="row">
                            <div class="col-sm-12 text-center">
                              <%= link_to @contact_info.facebook_link, :target => '_blank' do %>
                                  <img class="logo" src="<%= path_to_image('website/logo_face.png')%>" alt="logo">
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <div class="single_contact_info">
                        <div class="single_info_text">
                          <h3>Tienda Mercado Libre</h3>
                          <%= link_to @contact_info.mercadolibre_link, :target => '_blank' do %>
                            <img class="logo" src="<%= path_to_image('website/logo_meli.png')%>" alt="logo">
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                      <div class="single_contact_info">
                        <div class="single_info_text">
                          <h3>Ubicación</h3>
                          <h4 class="text-center">
                            <%= @contact_info.address_text %>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 iframe-full-container">
          <%= link_to @contact_info.link_to_map, target: '_blank' do %>
            <%= image_tag @contact_info.picture.photo_url, alt: 'Mapa de Bambu Solar', class: 'map_img'  %>
          <% end %>
        </div>

      </div>


    </div>
  </div>
</div>