<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
  <div class="card  product">
    <a href="#product_modal" class="product_modal_btn" id="product_modal_<%= @p.id %>_btn" data-id="<%= @p.id %>">
      <%= image_tag @p.picture.photo_url, width: '100%', height: 'auto' %>
      <h4 class="title text-capitalize"><%= @p.name %></h4>
      <p class="description text-overflow"></p>
      <% unless @p.to_quote %>
          <p class="price"> <%= number_to_currency(@p.price, unit: '$ ', separator: ',', delimiter: '.', :precision => 2) %> </p>
      <% else %>
          <p class="price"> A cotizar </p>
      <% end %>
    </a>
  </div>
</div>