<!doctype html>

<head>
  <% if @environment == 'prod' %>

      <%= render 'google_tag_head' %>

  <% end %>
  <meta name="Keywords" Content="energia_solar, calefon solar, mendoza, argentina, bambu, energía en movimiento, energia_renovable, colector solar, agua caliente solar, solar energy, losa radiante, termica, fotovoltaica, solar , medioambiente ,calefaccionar"/>
  <meta name="Revisit" content="10 days"/>
  <meta name="Revisit-After" content="2 days">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Bambú Energía en Movimiento</title>
  <%= stylesheet_link_tag  'website_product_type', media: 'all' %>
  <meta name="description" content="">
  <link rel="icon" type="image/ico" href="<%= path_to_image('website/favicon.ico')%>" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body data-spy="scroll" data-target=".navbar-collapse">
<% if @environment == 'prod' %>

    <%= render 'google_tag_body' %>

<% end %>
<div class='preloader'>
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="row">
      <div class="col-xs-12 sun">
        <img src="<%= path_to_image('website/loader/sun.png')%>" alt="" width="100px;">
      </div>
      <div class="col-xs-12 lightbulb">
        <img src="<%= path_to_image('website/loader/lightbulb.gif')%>" alt="" width="100px;">
      </div>
    </div>
  </div>
</div>


<div class="culmn">
  <header id="main_menu" class="header navbar-fixed-top">

    <div class="main_menu_bg">
      <div class="container">
        <div class="row">
          <div class="nave_menu">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed visible-xs-block" data-toggle="collapse" data-target="#mobile_header_menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">
                    <img src="<%= path_to_image('website/isologotipo/isologotipo.png')%>"/>
                  </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse " id="mobile_header_menu">

                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="/">
                        <i class="fa fa-home hidden-xs"></i> Inicio
                      </a>
                    </li>

                    <% @product_types.each do |p_t| %>
                        <li class="visible-xs-block">
                          <a href="/productos/<%= I18n.transliterate(p_t.name.split(' ')[0].to_s.downcase) %>"
                             <% if p_t.id == @product_type.id %>
                             class="active"
                             <% end %>
                             >
                            <%= p_t.name.scrub %>
                          </a>
                        </li>
                    <% end %>
                  </ul>

                </div>

              </div>
            </nav>
          </div>
        </div>

      </div>

    </div>
  </header> <!--End of header -->


  <div id="slider_type_products" class="hidden-xs">
    <div class="row" >
      <% @product_types.each do |p_t| %>
          <a href="/productos/<%= I18n.transliterate(p_t.name.split(' ')[0].to_s.downcase) %>"
             class="col-xs-4 <%= p_t.id == @product_type.id ? 'active' : '' %>"
             id="type_product_<%= I18n.transliterate(p_t.name.downcase.gsub(' ', '_')) %>">
            <span style="background-image: url('<%= p_t.picture.photo %>')"></span>
            <p class="title"><%= p_t.name.scrub %></p>
          </a>
      <% end %>
    </div>
  </div>

  <section id="products" class="container text-center">

    <div class="head_title text-center">
      <h2><%= @product_type.name.capitalize %></h2>
      <div class="subtitle">

      </div>
      <div class="separator"><img src="<%= path_to_image('website/isologotipo/logo.jpg')%>"></div>
    </div><!-- End off Head_title -->

    <% if @products.size > 0 %>

        <% if @product_type.have_category %>

            <% products_product = @products.where(category: 'product' ) %>

            <% if products_product.size > 0 %>

                <h3> Productos </h3>

                <div class="row">

                  <% products_product.where(:sub_type_id => nil).each do |p| %>

                      <%= render 'product_item', :object => [@p = p] %>

                  <% end %>

                </div>

                <% @product_sub_types.each do |sub_type| %>

                    <% if products_product.where(:sub_type_id => sub_type.id).size > 0 %>

                        <div class="sub_type_products_container">

                          <h4><%= sub_type.name %></h4>

                          <div class="row">

                            <% products_product.where(:sub_type_id => sub_type.id).each do |p| %>

                                <%= render 'product_item', :object => [@p = p] %>

                            <% end %>

                          </div>

                        </div>

                    <% end %>

                <% end %>

            <% end %>

            <% products_accessory = @products.where(category: 'accessory' ) %>

            <% if products_accessory.size > 0 %>

                <h3> Accesorios </h3>

                <div class="row">

                  <% products_accessory.where(:sub_type_id => nil).each do |p| %>

                      <%= render 'product_item', :object => [@p = p] %>

                  <% end %>

                </div>

                <% @product_sub_types.each do |sub_type| %>

                    <% if products_accessory.where(:sub_type_id => sub_type.id).size > 0 %>

                        <div class="sub_type_products_container">

                          <h4><%= sub_type.name %></h4>

                          <div class="row">

                            <% products_accessory.where(:sub_type_id => sub_type.id).each do |p| %>

                                <%= render 'product_item', :object => [@p = p] %>

                            <% end %>

                          </div>

                        </div>

                    <% end %>

                <% end %>

            <% end %>

            <% products_replacement = @products.where(category: 'replacement' ) %>

            <% if products_replacement.size > 0 %>

                <h3> Respuestos </h3>

                <div class="row">

                  <% products_replacement.where(:sub_type_id => nil).each do |p| %>

                      <%= render 'product_item', :object => [@p = p] %>

                  <% end %>

                </div>

                <% @product_sub_types.each do |sub_type| %>

                    <% if products_replacement.where(:sub_type_id => sub_type.id).size > 0 %>

                        <div class="sub_type_products_container">

                          <h4><%= sub_type.name %></h4>

                          <div class="row">

                            <% products_replacement.where(:sub_type_id => sub_type.id).each do |p| %>

                                <%= render 'product_item', :object => [@p = p] %>

                            <% end %>

                          </div>

                        </div>

                    <% end %>

                <% end %>

            <% end %>

        <% else %>
            <div class="row">
              <% @products.each do |p| %>
                  <%= render 'product_item', :object => [@p = p] %>
              <% end %>
            </div>
        <% end %>

    <% else %>

        <div class="jumbotron margin-top-40">
          <h4>No existen productos cargados para esta categoría</h4>
        </div>

    <% end %>

  </section>

  <!-- START SCROLL TO TOP  -->

  <div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
  </div>

</div>


<% @products.each do |p| %>
    <div id="product_modal_<%= p.id %>">
      <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID -->
      <div  id="btn-close-modal" class="close-product_modal_<%= p.id %>">
        <img class="closebt" src="<%= path_to_image('website/closebt.svg')%>">
      </div>

      <div class="modal-content">
        <div class="col-xs-12 col-sm-6">
          <div class="pictures">
            <% pictures = ProductPicture.where(product: p) %>
            <% if p.url_video_youtube.to_s.size > 0 || pictures.to_a.size > 0 %>
                <div class="screen">
                  <div class="item">
                    <div class="content">
                      <%= image_tag p.picture.photo_url, width: '100%', height: 'auto' %>
                    </div>
                  </div>
                  <% pictures.to_a.each do |i| %>
                      <div class="item">
                        <div class="content">
                          <%= image_tag i.picture.photo_url, width: '100%', height: 'auto' %>
                        </div>
                      </div>
                  <% end %>
                  <% if p.url_video_youtube.to_s.size > 0 %>
                      <div class="item">
                        <div class="content">
                          <iframe width="420"
                                  height="315"
                                  class="youtube-player"
                                  allowfullscreen="allowfullscreen"
                                  mozallowfullscreen="mozallowfullscreen"
                                  msallowfullscreen="msallowfullscreen"
                                  oallowfullscreen="oallowfullscreen"
                                  webkitallowfullscreen="webkitallowfullscreen"
                                  type="text/html"
                                  src="<%= p.url_video_youtube.to_s %>"
                                  frameborder="0"></iframe>
                        </div>
                      </div>
                  <% end %>
                </div>
                <div class="thumbnails">
                  <div class="item">
                    <div class="content">
                      <%= image_tag p.picture.photo_url, width: 'auto', height: '50px' %>
                    </div>
                  </div>
                  <% pictures.to_a.each do |i| %>
                      <div class="item">
                        <div class="content">
                          <%= image_tag i.picture.photo_url, width: 'auto', height: '50px' %>
                        </div>
                      </div>
                  <% end %>
                  <% if p.url_video_youtube.to_s.size > 0 %>
                      <div class="item">
                        <div class="content">
                          <img src="<%= path_to_image('website/youtubelogo.jpg')%>" width="auto" height="50px">
                        </div>
                      </div>
                  <% end %>
                </div>
            <% else %>
                <%= image_tag p.picture.photo_url, width: '100%', height: 'auto' %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h1 class="title"><%= p.name %></h1>
          <% if p.description.to_s.size > 0 %>
              <p class="description"><%= p.description %></p>
          <% end %>
          <div class="row buttons">
            <div class="col-xs-6">
              <% unless p.to_quote %>
                  <p class="price modal-contact-btn btn btn-block">
                    <%= number_to_currency(p.price, unit: '$ ', separator: ',', delimiter: '.', :precision => 2) %>
                  </p>
              <% else %>
                  <p class="price modal-contact-btn btn btn-block">
                    A cotizar
                  </p>
              <% end %>

            </div>
            <div class="col-xs-6">
              <button type="button" class="modal-contact-btn btn btn-block">Consultar</button>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <h1 class="title2">Características</h1>
        </div>
        <div class="col-xs-12">
          <div class="description_detail">
            <%= simple_format p.description_detail %>
          </div>
        </div>

      </div>
    </div>
<% end %>

<div id="modal-contact" class="iziModal">
  <%= render 'contact' %>
</div>

<%= Gon::Base.render_data %>

<%= javascript_include_tag 'website_product_type' %>

</body>

</html>
