<!doctype html>

<head>
  <meta name="Keywords" Content="energia_solar, calefon solar, mendoza, argentina, bambu, energía en movimiento, energia_renovable, colector solar, agua caliente solar, solar energy, losa radiante, termica, fotovoltaica, solar , medioambiente ,calefaccionar"/>
  <meta name="Revisit" content="10 days"/>
  <meta name="Revisit-After" content="2 days">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Bambú Energía en Movimiento</title>
  <meta name="description" content="">
  <link rel="icon" type="image/ico" href="<%= path_to_image('website/favicon.ico')%>" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">

    .preloader {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fefefe;
      z-index: 99999;
      height: 100%;
      width: 100%;
      overflow: hidden !important;
    }

    .preloader > div{
      position: absolute;
      top: 50%;
      margin-top: -60px;
    }

    .preloader > div > div{
      text-align: center;
    }

    .preloader .lightbulb{
      top: -103px;
      animation: pulse2 5s infinite linear;
      opacity: 1;
    }

    .preloader .sun{
      animation: pulse 5s infinite linear;
      opacity: 0;
    }

    .preloader .sun img{
      animation: rotateR 12s infinite linear;
    }

    @keyframes pulse {
      0% {

        opacity: 0;

      }
      50% {

        opacity: 1;

      }
    }

    @keyframes pulse2 {
      0% {

        opacity: 1;

      }
      50% {

        opacity: 0;

      }
    }
    img {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-user-drag: none;
      user-drag: none;
    }
  </style>
  <% if @environment == 'prod' %>

      <%= render 'google_tag_head' %>

  <% end %>
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
<div class='preloader'>
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="row">
      <div class="col-xs-12 sun">
        <img src="<%= path_to_image('website/loader/sun.png')%>" alt="" width="100px;">
      </div>
      <div class="col-xs-12 lightbulb">
        <img src="<%= path_to_image('website/loader/lightbulb.gif')%>" alt="" width="100px;">
      </div>
    </div>
  </div>
</div>


<div class="culmn">
  <header id="main_menu" class="header navbar-fixed-top">

    <div class="main_menu_bg">
      <div class="container">
        <div class="row">
          <div class="nave_menu">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed visible-xs-block" data-toggle="collapse" data-target="#mobile_header_menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">
                    <img src="<%= path_to_image('website/isologotipo/isologotipo.png')%>"/>
                  </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse " id="mobile_header_menu">

                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="/">
                        <i class="fa fa-home hidden-xs"></i> Inicio
                      </a>
                    </li>

                    <% @product_types.each do |p_t| %>
                        <li class="visible-xs-block">
                          <a href="/productos/<%= I18n.transliterate(p_t.name.split(' ')[0].to_s.downcase) %>"
                             <% if p_t.id == @product_type.id %>
                             class="active"
                             <% end %>
                             >
                            <%= p_t.name.scrub %>
                          </a>
                        </li>
                    <% end %>
                  </ul>

                </div>

              </div>
            </nav>
          </div>
        </div>

      </div>

    </div>
  </header> <!--End of header -->


  <div id="slider_type_products" class="hidden-xs">
    <div class="row" >
      <% @product_types.each do |p_t| %>
          <a href="/productos/<%= I18n.transliterate(p_t.name.split(' ')[0].to_s.downcase) %>"
             class="col-xs-4 <%= p_t.id == @product_type.id ? 'active' : '' %>"
             id="type_product_<%= I18n.transliterate(p_t.name.downcase.gsub(' ', '_')) %>">
            <span style="background-image: url('<%= p_t.picture.photo %>')"></span>
            <p class="title"><%= p_t.name.scrub %></p>
          </a>
      <% end %>
    </div>
  </div>

  <section id="products" class="container text-center">

    <div class="head_title text-center">
      <h2><%= @product_type.name.capitalize %></h2>
      <div class="subtitle">

      </div>
      <div class="separator"><img src="<%= path_to_image('website/isologotipo/logo.png')%>"></div>
    </div><!-- End off Head_title -->

    <% if @products.size > 0 %>

        <% if @product_type.have_classification %>

            <%

              product_classifications = [
                  {
                      :classification => 'product',
                      :name => 'Productos',
                      :categories => true
                  },
                  {
                      :classification => 'accessory',
                      :name => 'Accesorios',
                      :categories => false
                  },
                  {
                      :classification => 'replacement',
                      :name => 'Respuestos',
                      :categories => false
                  }
              ]

            %>

            <% product_classifications.each do |p_c| %>

                <% products = @products.where(classification: p_c[:classification] ) %>

                <% if products.size > 0 %>

                    <h3> <%= p_c[:name] %> </h3>

                    <% if p_c[:categories] %>

                        <div class="list_product_categories">

                          <ul>
                        <% @categories.each do |c| %>

                            <li class="product_category_<%= c.id %>" data-id="<%= c.id %>" ><%= c.name %></li>

                        <% end %>

                          </ul>

                        </div>


                    <% end %>

                    <div class="<%= p_c[:categories] ? 'product_category_container' : '' %>">

                      <% @product_sub_types.each do |sub_type| %>

                          <% if p_c[:categories] %>

                              <% products_categories = ProductCategoryProductSubType.where(:product_sub_type_id => sub_type.id).select(:product_category_id).map(&:product_category_id) %>

                          <% end %>

                          <div class="<%= p_c[:categories] ?  products_categories.map! {|id| "category_id_#{id}" }.join(' ') : '' %>">

                            <% product_s_ts = products.where(:sub_type_id => sub_type.id) %>

                            <% if product_s_ts.size > 0 %>

                                <div class="sub_type_products_container">

                                  <h4><%= sub_type.name %></h4>

                                  <div class="row">

                                    <% product_s_ts.each do |p| %>

                                        <%= render 'product_item', :object => [@p = p] %>

                                    <% end %>

                                  </div>

                                </div>

                            <% end %>

                          </div>

                      <% end %>

                    </div>

                    <div class="row">

                      <% products.where(:sub_type_id => nil).each do |p| %>

                          <%= render 'product_item', :object => [@p = p] %>

                      <% end %>

                    </div>

                <% end %>

            <% end %>

        <% else %>
            <div class="row">
              <% @products.each do |p| %>
                  <%= render 'product_item', :object => [@p = p] %>
              <% end %>
            </div>
        <% end %>

    <% else %>

        <div class="jumbotron margin-top-40">
          <h4>No existen productos cargados para esta categoría</h4>
        </div>

    <% end %>

  </section>

  <!-- START SCROLL TO TOP  -->

  <div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
  </div>

</div>


<div class="cover_modal" id="cover_modal" data-id=""></div>
<div id="product_modal">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID -->
  <div  id="btn-close-modal" class="close-product_modal">
    <img class="closebt" src="<%= path_to_image('website/closebt.png')%>">
  </div>

  <div class="modal-loading">
    <img src="<%= path_to_image('website/ajax-loader.gif')%>">
  </div>

  <div class="modal-content" style="display: none">
    <div class="col-xs-12 col-sm-6">
      <div class="pictures">
        <img class="" src="" width="100%" height="auto">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h1 class="title"></h1>
      <p class="description"></p>
      <div class="row buttons">
        <div class="col-xs-6">
          <p class="price modal-contact-btn btn btn-block">

          </p>
        </div>
        <div class="col-xs-6">
          <button type="button" class="modal-contact-btn btn btn-block">Consultar</button>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <h1 class="title2">Características</h1>
    </div>
    <div class="col-xs-12">
      <div class="description_detail">

      </div>
    </div>

  </div>
</div>

<div id="modal-contact" class="iziModal">
  <%= render 'contact' %>
</div>

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" async="true">

<%= stylesheet_link_tag  'website_product_type', media: 'all', async: true  %>

<%= javascript_include_tag 'website_product_type', async: true %>

<% if @environment == 'prod' %>

    <%= render 'google_tag_body' %>

<% end %>

</body>

</html>
