<%= form_for(@ourwork, html: {novalidate:'novalidate', class: 'form_validation'}) do |f| %>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group form-float">
          <div class="form-line">
            <%= f.text_field :title,
                             class: 'form-control',
                             :'aria-required'=>'false',
                             :'aria-invalid'=>'true',
                             maxlength:'100',
                             minlength:'5',
                             :autocomplete => :off
            %>
            <label class="form-label">Título</label>
          </div>
        </div>
      </div>
    </div>


    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">

          <% unless @ourwork.picture.nil?  %>
              <%= image_tag @ourwork.picture.photo_url, style: 'width: 100%; max-width: 300px; height: auto;' %>
          <% end %>
          <div class="form-line input-group">

            <%= f.file_field :image, class:'file', style:'display:none' %>

            <span class="input-group-btn">
                    <button class="browse btn btn-primary" type="button">
                      <i class="material-icons">insert_photo</i>
                    </button>
                </span>
            <input type="text" class="form-control" disabled placeholder="Seleccione un imágen" value="<%= (@ourwork.picture.nil? ? '' : @ourwork.picture.photo_identifier ) %>">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <button type="submit" class="btn btn-primary m-t-15 waves-effect btn-block teal">Guardar</button>
      </div>
      <div class="col-xs-6 col-sm-4">
        <%= link_to 'Atrás', ourworks_path, class: 'btn btn-default m-t-15 waves-effect btn-block' %>
      </div>
    </div>

<% end %>
