<div class="login">
  <div class="container">
    <div class="form">

      <h1>Sign up</h1>

      <%= form_for(@user) do |f|%>

          <%= f.text_field :first_name %>
          <%= f.text_field :last_name %>
          <%= f.text_field :user_name %>
          <%= f.password_field :password %>

          <%= f.submit 'Guardar'%>

      <% end %>

    </div>
  </div>
</div>