<%= form_for(@social_network, html: {novalidate:'novalidate', class: 'form_validation'}) do |f| %>
    <% if @social_network.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@social_network.errors.count, "error") %> prohibited this social_network from being saved:</h2>

          <ul>
            <% @social_network.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_field :name,
                             class: 'form-control',
                             placeholder: 'Nombre',
                             required: '',
                             :'aria-required'=>'true',
                             :'aria-invalid'=>'true',
                             maxlength:'100',
                             minlength:'5'
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_field :link,
                             class: 'form-control',
                             placeholder: 'Link',
                             required: '',
                             :'aria-required'=>'true',
                             :'aria-invalid'=>'true',
                             maxlength:'100',
                             minlength:'5'
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_field :icon,
                             class: 'form-control',
                             placeholder: 'Icono',
                             required: '',
                             :'aria-required'=>'true',
                             :'aria-invalid'=>'true',
                             maxlength:'100',
                             minlength:'5'
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.number_field :order,
                               class: 'form-control',
                               placeholder: 'Orden',
                               required: 'required',
                               :'aria-required'=>'true',
                               min: 0,
                               step: 1
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <button type="submit" class="btn btn-primary m-t-15 waves-effect btn-block teal">Guardar</button>
      </div>
      <div class="col-xs-6 col-sm-4">
        <%= link_to 'Atrás', social_networks_path, class: 'btn btn-default m-t-15 waves-effect btn-block' %>
      </div>
    </div>
<% end %>
