<%= form_for([@product_type,@product], html: {novalidate:'novalidate', class: 'form_validation'}) do |f| %>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_field :name,
                             class: 'form-control',
                             placeholder: 'Nombre',
                             required: '',
                             :'aria-required'=>'true',
                             :'aria-invalid'=>'true',
                             maxlength:'100',
                             minlength:'5'
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_area :description,
                            class: 'form-control',
                            placeholder: 'Descripci칩n'
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_area :description_detail,
                            class: 'form-control editor',
                            id: 'editor',
                            placeholder: 'Descripci칩n'
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.number_field :price,
                               class: 'form-control',
                               placeholder: 'Precio',
                               required: '',
                               :'aria-required'=>'true',
                               min: 0
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
            <%= f.text_field :url_video_youtube,
                               class: 'form-control',
                               type: 'url',
                               placeholder: 'Url Video YouTuBe'
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">

          <% unless @product.picture.nil?  %>
              <%= image_tag @product.picture.photo_url, style: 'width: 100%; max-width: 300px; height: auto;' %>
          <% end %>
          <div class="form-line input-group">

            <%= f.file_field :image, class:'file', style:'display:none' %>

            <span class="input-group-btn">
                    <button class="browse btn btn-primary" type="button">
                      <i class="material-icons">insert_photo</i>
                    </button>
                </span>
            <input type="text" class="form-control" disabled placeholder="Seleccione un im치gen" value="<%= (@product.picture.nil? ? '' : @product.picture.photo_identifier ) %>">
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.check_box :enabled%>
          <label for="product_enabled">Habilitado</label>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-xs-6 col-sm-2">
        <button type="submit" class="btn btn-primary m-t-15 waves-effect btn-block teal">Guardar</button>
      </div>
      <div class="col-xs-6 col-sm-2">
        <%= link_to 'Atr치s', @product_type, class: 'btn btn-default m-t-15 waves-effect btn-block' %>
      </div>
    </div>
<% end %>
